@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ;
.logintext-box {
     width: 280px ;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50, -50);
}

body {
    padding: 0;
    margin: 0;
    background-image: url(arkaplan.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    font-family: sans-serif;
    background-size: cover;
}

.text-login {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.text-login h1 {
font-size: 40px;    
float: left;
border-bottom:px solid #4caf50 ;
margin-bottom: 50px;
margin: 13px 0;
}

.text-form {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center; }

    .text-form input {
        outline: none;
        border: none;
        background: none;
        
    }

    .btn{
        width: 100%;
        background: none;
        border: 2px solid #4caf50;
        color: white;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        margin: 12px 0;
      }